body{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px calc(100vh - 60px) auto;
}


header{
    grid-area: header;
    background-color: rgb(83, 86, 250);
    padding: 0.5em;
    border-bottom: 5px solid blue;
}

.header-box{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo{
    border-radius: 0.4em;
    background-color: blue;
    border-radius: 50%;
    padding: .3rem;
    width: 6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.header-list li{
    margin-left: 1em;
    display: inline;
}

.header-list a{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;    
    text-decoration: none;
}

.ativo{
    border-bottom: 5px solid rgb(0, 0, 116);
}

.header-list a:hover {
    border-bottom: 5px solid darkblue;
}

.header-list a:active {
	color: #088C19;	
}

/*formulario*/
main{
    grid-area: main;
    background-color: rgba(245, 245, 245, 0.692);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-resumo{
    display: grid;
    grid-template-areas:
        "dividas"
        "devedores";
    grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
    grid-template-rows: 100%;
    grid-gap: 2rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5em;
    margin: 1rem 0;
    text-transform: uppercase;
    border: .05rem solid black;
}
/*resumo css*/
.dividas{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    grid-area: dividas;
    grid-column: 1/2;
    grid-row: 1/1;
    background-color: rgb(253, 197, 197);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: darkred;
    margin: 1rem 0 1rem 2rem;
}

.devedores{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    grid-area: devedores;
    grid-column: 2/2;
    grid-row: 1/1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(179, 186, 255);
    color: darkblue;
    margin: 1rem 2rem 1rem 0;
}


.resumo-item{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: .5rem .5rem;
    color:black;
}

.comum-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 33.33%;
}

form label{
    text-align: center;
    font-size: 2rem;
    display: block;
    padding: 0.2em;
}

.input-padrao{
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .05rem solid black;
}

.submit{
    background-color: rgb(38, 41, 252);
    display: block;
    font-size: 2rem;
    color: lightblue;
    border-radius: 0.3rem;
    border-style: none;
    margin: 1rem 0;
    text-align: center;
}
/*footer*/
footer{
    grid-area: footer;
    background-color: rgb(83, 86, 250);
    text-align: center;
    padding: 1rem;
    border-top: 5px solid blue;
}

.copyright{
    text-align: center;
}

/*config css*/
#form-config{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-config{
    text-align: left;
    font-size: 1.5em;
    display: inline;
    padding: 0.2em;
}

.input-config{
    display: block;
    font-size: 1.5em;
    border-radius: 0.5rem;
    margin: 1rem;
}

.submit-config{
    background-color: blue;
    display: block;
    font-size: 2em;
    border-radius: 0.4rem;
    border-style: none;
}

.logout-config{
    background-color: red;
    display: block;
    font-size: 1.5em;
    text-align: center;
    border-radius: .4rem;
    border-style: none;
    margin: .5rem;
}

#id{
    font-size: 2em;
}
