<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Conta</title>

        <link rel="stylesheet" href="\static\css\reset.css">
        <link rel="stylesheet" href="\static\css\comum.css">
        <link rel="stylesheet" href="\static\css\adicionar_conta.css">
    </head>

    <body>
        <header>
            <div class="header-box">
				<h1>Gerenciador<br>pagamentos</h1>

				<nav>
					<ul class="header-list">
						<li><a href="/conta">Adicionar conta</a></li>
                        <li><a href="/pagamento">Pagamento</a></li>
                        <li><a href="/resumo">Resumo</a></li>
                        <li><a href="/configuracoes">&#9881;</a></li>
					</ul>
				</nav>
			</div>
        </header>

        <main>
            <h2>Nova conta</h2>
            <form id ="form-add">
                <label for="titulo">Título</label>
                <input type="text" id = "titulo" name = "con_titulo" class="input-padrao" required placeholder="titulo">

                <label for="descrição">Descrição</label>
                <input type="text" id = "descrição" name = "con_descricao" class="input-padrao" required placeholder="descrição">
                
                <label for="valor-total">Valor total</label>
                <input type="text" id = "valor-total" class="input-padrao" required placeholder="R$xx-xx">

                <label>Divisões: </label>
                <input type="button" id = "nova-divisao" class="input-padrao" value="adicionar">
                <input type="button" id = "exclui-divisao" class="input-padrao" value="remover">

                <div id="divisoes">
                    <label for="id-usuario-divisao">ID de usuario</label>
                    <input type="text" id = "id-usuario-divisao" name = "usu_id1" class="input-padrao" required placeholder="0000">

                    <label for="valor-total">Parte na divisão</label>
                    <input type="text" id = "valor-total" class="input-padrao" name="div_valor1" required placeholder="R$xx-xx">
                </div>
        
                <input type= "submit" class = "submit">
            </form>
        </main>

        <footer>
            <p class="copyright">&copy; Copyright DalexCo - 2020</p>
        </footer>

        <script src = "\static\js\adicionar_conta.js"></script>

    </body>
</html>