<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Entrar</title>

        <link rel="stylesheet" href="\static\css\reset.css">
        <link rel="stylesheet" href="\static\css\comum.css">
    </head>

    <body>
        <header>
            <div class="header-box">
				<h1>Gerenciador<br>pagamentos</h1>

				<nav>
					<ul class="header-list">
						<li><a href="/entrar">Login</a></li>
						<li><a href="/cadastrar">Cadastrar</a></li>
					</ul>
				</nav>
			</div>
        </header>

        <main>
            <h2>Login</h2>
            <form id = "form-login">
                <label for="email">Email</label>
                <input type="email" name = "usu_email" id="email" class="input-padrao" required placeholder="seuemail@dominio.com">

                <label for="senha">Senha</label>
                <input type="password" id="senha" name = "usu_senha" class="input-padrao" required placeholder="suasenha">

                <input type= "submit" class = "submit">
            </form>
        </main>

        <footer>
            <p class="copyright">&copy; Copyright DalexCo - 2020</p>
        </footer>

        <script src = "\static\js\login.js"></script>

    </body>
</html>