<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Entrar</title>

        <link rel="stylesheet" href="C:\Users\DGC\Desktop\Gerenciador-pagamentos\static\css\reset.css">
        <link rel="stylesheet" href="C:\Users\DGC\Desktop\Gerenciador-pagamentos\static\css\login.css">
    </head>

    <body>
        <header>
            <div class="header-box">
				<h1>Gerenciador<br>pagamentos</h1>

				<nav>
					<ul class="header-list">
						<li><a href="">Login</a></li>
						<li><a href="">Cadastrar</a></li>
					</ul>
				</nav>
			</div>
        </header>

        <main>
            <h2>Login</h2>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" class="login-input" required placeholder="seuemail@dominio.com">

                <label for="senha">Senha</label>
                <input type="password" id="senha" class="login-input" required placeholder="suasenha">
            </form>
        </main>

        <footer>
            <p class="copyright">&copy; Copyright DalexCo - 2020</p>
        </footer>
    </body>
</html>