<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Pagamento</title>

        <link rel="stylesheet" href="\static\css\reset.css">
        <link rel="stylesheet" href="\static\css\comum.css">
        <link rel="stylesheet" href="\static\css\adicionar_conta.css">
    </head>

    <body>
        <header>
            <div class="header-box">
				<h1>Gerenciador<br>pagamentos</h1>

				<nav>
					<ul class="header-list">
						<li><a href="/conta">Adicionar conta</a></li>
                        <li><a href="/pagamento">Pagamento</a></li>
                        <li><a href="/resumo">Resumo</a></li>
                        <li><a href="/configuracoes">&#9881;</a></li>
					</ul>
				</nav>
			</div>
        </header>

        <main>
            <h2>Novo pagamento</h2>
            <form id="form-pag">
                <label for="mensagem">Mensagem:</label>
                <input type="text" id = "mensagem" name = "pag_mensagem" class="input-padrao" placeholder="mensagem">

                <label for="valor-pagamento">Valor do pagamento:</label>
                <input type="text" id = "valor-pagamento" name ="pag_valor" class="input-padrao" required placeholder="R$xx-xx">

                <label for="usuario-pagador">ID do usuario pagador:</label>
                <input type="text" id = "usuario-pagador" name = "usu_pagador_id" class="input-padrao" required placeholder="0000">

                <label for="usuario-receptor">ID do usuario receptor:</label>
                <input type="text" id = "usuario-receptor" name = "usu_receptor_id" class="input-padrao" required placeholder="0000">

                <input type= "submit" class = "submit">
            </form>
        </main>

        <footer>
            <p class="copyright">&copy; Copyright DalexCo - 2020</p>
        </footer>

        <script src="\static\js\pagamento.js"></script>

    </body>
</html>