<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Resumo</title>

        <link rel="stylesheet" href="\static\css\reset.css">
        <link rel="stylesheet" href="\static\css\comum.css">
    </head>

    <body>
        <header>
            <section class="header-box">
                <div class="logo">
                    <h1>Pay<br>Gen</h1>
                </div>
    
				<nav>
					<ul class="header-list">
						<li><a href="/conta">Adicionar conta</a></li>
                        <li><a href="/pagamento">Pagamento</a></li>
                        <li><a href="/resumo" class="ativo">Resumo</a></li>
                        <li><a href="/configuracoes">&#9881;</a></li>
					</ul>
				</nav>
			</section>
        </header>

        <main class="main-resumo">
            <ul class="resumo-lista dividas" id ="dividas">Dívidas
            </ul>
            <ul class="resumo-lista devedores" id ="devedores">Devedores
            </ul>
        </main>

        <footer>
            <p class="copyright">&copy; Copyright DalexCo - 2020</p>
        </footer>
        <script src="\static\js\resumo.js"></script>
    </body>
</html>